@import '../app/styles/colors';

@font-face {
  font-family: 'JennaSue';
  src: url('fonts/JennaSue.ttf');
}

.heleveticaFont(@size) {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: @size;
  line-height: normal;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif
}

.jennaSueFont(@size) {
  font-style: normal;
  font-family:'JennaSue', 'Arial';
  font-variant: normal;
  font-size: @size;
  font-weight: bold;
  line-height: 1em;
}
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
