@import '../app/styles/colors';

@toolBarHeight : 45px;

@font-face {
  font-family: 'JennaSue';
  src: url('fonts/JennaSue.ttf');
}

@font-face{
  font-family: 'WebSymbolsRegular';
  src: url('fonts/websymbols-regular-webfont.eot');
  src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/websymbols-regular-webfont.woff') format('woff'),
    url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.heleveticaFont(@size) {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: @size;
  line-height: normal;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif
}

.cursiveFont(@size) {
  font-style: normal;
  font-family: 'JennaSue', cursive;
  font-variant: normal;
  font-weight: normal;
  font-size: @size;
  line-height: 1em;
}
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.isActive() {
  background-color: fade(@popColor, 50%);
}

.arrow_box(@arrowSize: 20px, @radius:6px) {
  .rounded(@radius);
  position: relative;
  background: white;
  border: 4px solid @borderColor;
  &:after, &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-bottom-color: @listBackgroundColor;
    border-width: @arrowSize;
    left: 50%;
    margin-left: -@arrowSize;
  }
  &:before {
    border-bottom-color: @borderColor;
    border-width: @arrowSize + 6;
    left: 50%;
    margin-left: -(@arrowSize + 6);
  }
}


