<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="icon" type="image/ico" href="/images/favicon.ico">
  <style>
  body {
    background: #DDD url(images/iphone.png) no-repeat center 30px;
    min-height: 800px;
  }
  iframe {
    position:absolute;
    top:176px;
    left:50%;
    margin-left: -160px;
  }
  </style>
  {{#isProd}}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9821151-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {{/isProd}}

</head>
<body>
  <div id="unsupported" class="container" style="display:none">
    This demo works only on webkit browsers (Chrome/Safari)
  </div>

  <iframe src="?no_check=1" frameborder=0 width=320 height=460/>
</body>
