<h1>Sorry. BlackBerry and IE are not supported yet :(</h1>
<p>But Safari, Safari mobile, Android browser, Chrome and FireFox are :) </p>
<p>Please, come back later using one of these browsers.</p>
<p>You also can find more info about me:
  <ul>
    <li><a href="http://twitter.com/plog_">on Twitter</a></li>
    <li><a href="http://fr.linkedin.com/pub/nicolas-blanchot/1a/8b0/b9">on LinkedIn</a></li>
    <li><a href="https://github.com/iplog">or on GitHub</a></li>
  </ul>
</p>
