@import "../app/styles/lib";

* {
  margin: 0px;
  padding: 0px;
}
.toolbar {
  -webkit-box-sizing: border-box;
  background: url("../images/toolbar.png") gray repeat-x;
  border-bottom: 1px solid #2D3642;
  height: 45px;
  padding: 10px;
  position: relative;

}

body {
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
  font-family: Helvetica;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
body > div {
  background: url("../images/background.gif");
  background-repeat: no-repeat;
  background-color: @backgroundColor;
  color: @mainColor;
}

body > div {
  display: block;
  left: 0px;
  /*min-height: 100%;*/
  position: absolute;
  width: 100%;
}

a {
  -webkit-tap-highlight-color: transparent;
}

h1, h2 {
  color: #4C566C;
  font: normal normal bold 18px/normal Helvetica;
  margin: 10px 20px 6px;
  text-shadow: rgba(255, 255, 255, 0.19)
}
body.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}

.toolbar > h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  left: 50%;
  line-height: 1em;
  margin: 1px 0px 0px -75px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px;
  top: 10px;
  white-space: nowrap;
  width: 150px;
}

ul {
/*  background: white;
  border: 1px solid #B4B4B4;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: black;
  font: normal normal bold 17px/normal Helvetica;
  margin: 15px 10px 17px;
  padding: 0px;*/
}

ul li {
  color: black;
  font-size: 14px;
  border-top: 1px solid #B4B4B4;
  color: #666;
  list-style-type: none;
  div {
    /*padding: 10px;*/
    overflow: hidden;
    &.arrow {
      background-image: url("../images/arrow.png");
      background-position: 100% 50%;
      background-repeat: no-repeat;
    }
  }
  &.active{
      background-color: rgba(0, 0, 0, 0.35);
  }
}

li:first-child, li:first-child a {
  border-top: 0px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}

body > .current {
  display: block !important;
}

body.landscape > * {
  min-height: 320px;
}


ul li a, li.img a + a {
  color: black;
  display: block;
  margin: -10px;
  overflow: hidden;
  padding: 12px 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.button, .back, .cancel, .add {
  -webkit-border-image: url("../images/toolButton.png") 0 5 0 5 stretch stretch;
  background: none;
  border-width: 0px 5px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  overflow: hidden;
  padding: 0px 3px;
  position: absolute;
  right: 6px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
  top: 8px;
  white-space: nowrap;
  width: auto;
  &.active {
    -webkit-border-image: url("../images/toolButtonActive.png") 0 5 0 5
stretch stretch;
  }
}

.back {
  border-width: 0px 8px 0px 14px;
  left: 6px;
  max-width: 55px;
  padding: 0px;
  right: auto;
  -webkit-border-image: url("../images/backButton.png") 0 8 0 14 stretch stretch;
  &.active {
    -webkit-border-image: url("../images/backButtonActive.png") 0 8 0 14
stretch stretch;
  }
}
