@import "../app/styles/colors";
@import "../app/styles/elements";
@import "../app/styles/lib";

/* general elements */
* {
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: @backgroundColor;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: @mainColor;
}
body > .current {
  display: block !important;
}

body.landscape > * {
  min-height: 320px;
}
body.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

h1, h2 {
  color: #4C566C;
  .heleveticaFont(18px);
  margin: 10px 20px 6px;
  text-shadow: rgba(255, 255, 255, 0.19)
}

/* UI elements */
.toolbar {
  -webkit-box-sizing: border-box;
  .toolBarGradient();
  border-bottom: 1px solid @borderColor;
  height: 45px;
  padding: 10px;
  &> h1 {
    .jennaSueFont(24px);
    color: @mainColor;
    text-shadow: rgba(42, 42, 42, 0.75) 0 -1px 0;
    height: 40px;
    left: 50%;
    margin: 1px 0 0 -75px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 150px;
    .ellipsis();
  }
}

ul {
  color: @mainColor;
  .heleveticaFont(17px);
  margin: 0px 0 17px;
  padding: 0;
  li {
    font-size: 14px;
    border-bottom: 1px solid @borderColor;
    color: @mainColor;
    list-style-type: none;
    background-color: @listBackgroundColor;
    div {
      padding: 10px;
      overflow: hidden;
      &.arrow {
        background-image: url("../images/arrow.png");
        background-position: 100% 50%;
        background-repeat: no-repeat;
      }
    }
    &.active{
        background-color: rgba(0, 0, 0, 0.35);
    }
  }
}

li {
  &:first-child {
    border-top: 0;
    a {
      border-top: 0;
    }
  }
}

ul li a, li.img a + a {
  color: black;
  display: block;
  margin: -10px;
  padding: 12px 10px;
  text-decoration: none;
  .ellipsis();
}

.button, .back, .cancel, .add {
  color: white;
  height: 45px;
  width: 45px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.back {
  left: 0;
  padding: 0px;
  right: auto;
  border-right: 1px solid @borderColor;
  background-image: url('../images/arrow_back.png');
  background-repeat: no-repeat;
  background-position: 4px center;
}

/* ui events styles */
.active {
  background-color: rgba(42, 42, 42, 0.29);
}
